$primary : rgb(96, 169, 238);
$primary : #5499db;
$secondary : #eee;
$bg1 : #fff;
$border-radius: 0px;
$body-bg : #e5e5e5;
$enable-shadows : true;


$gradient-1 : linear-gradient(10deg,#45cafc,#626fbf);
